@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    scroll-behavior: smooth;
}

:root{
    --text-color: #344E41;
    --span-color: #588157;
    --hover-color: #3A5A40;
    --light-color: #A3B18A;
    --nav-bg :#333;
}

body {
    font-family: 'Poppins', sans-serif;
	color: #fff;
	background-color: #DAD7CD;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--nav-bg);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1000;
  }

.loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  
.loaderClass {
    border: 12px solid #dcd7d7;
    border-top: 12px solid var(--hover-color);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: SpinLoader 2.5s linear infinite;
   }
.loaderClass img {
    height: 95px;
    width: 95px;
    border-radius: 50%;
    animation: LogoModify 2.5s linear infinite;
 }

nav{
    position: sticky;
    top: 0;
    z-index: 900;
}

nav ul {
	padding-top: 50px;
	position: absolute;
	height: 100vh;
	width: 350px;
    left: -350px;
    list-style: none;    
	background-color: var(--nav-bg);
	transition: transform .3s;
}

nav a {
    display: block;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-top: 20%;
}

nav a:hover {
    font-weight: bold;
    color: var(--hover-color);
}

nav ul img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.burger {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    font-size: 36px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--span-color);
	transition: transform .3s;
}

.active {
     transform: translateX(350px)
}

.hide {
    display: none;
}

.logo img{
    height: 6.5vh;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main{
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0 0 0 / 0.8), rgb(0 0 0 / 0), rgb(0 0 0 / 0.8)), url(./img/home.jpeg) no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}
  
.socials{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.socials ul{
    list-style: none;

}
  
.socials i{
    font-size: 1.8rem;
    padding: 1.5rem;
    color: #fff;
}

.socials i:hover{
    color: var(--light-color);
    transform: scale(1.2);
    transition: transform .3s;
}



.mobile-slider{
    display: flex;
    padding: 0 35px;
    height: 55vh;
    align-items: center;
    justify-content: center;
}

.h2-slider{
    text-align: center;
    color: var(--text-color);
    margin: 2rem;
}

.wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
}

.wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: var(--span-color);
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active{
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover{
    background: var(--light-color);
}

.wrapper i:first-child{
    left: -22px;
    display: none;
}

.wrapper i:last-child{
    right: -22px;
}

.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img{
    pointer-events: none;
}

.carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img:first-child{
    margin-left: 0px;
}


.tabela{
    margin-top: 5rem;
}

.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
    min-width: 700px;
    -webkit-box-shadow: 4px 4px 20px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 4px 20px 0px rgba(66, 68, 90, 1);
    box-shadow: 4px 4px 20px 0px rgba(66, 68, 90, 1);
    border-radius: 15px;
}

.ptable{
	margin: 0px 0% 30px 0%;
}

th, td {
    padding: 10px;
}

th{
	color: var(--nav-bg);
}

.headin{
    color: var(--text-color);
    text-align: center;
}

.wpos{
	text-align: center;
}

.wpos td{
	color: rgb(12, 190, 12);
}

.pos{
	text-align: center;
}

.pos td{
	color: var(--text-color);
}

.lpos{
    text-align: center;
}

.lpos td{
    color: red;
}

.wpos:hover{
	background-color: var(--hover-color);
}

.wpos:hover td,
.pos:hover td,
.lpos:hover td{
    color: #fff;
}

.pos:hover{
	background-color: var(--hover-color);
}

.lpos:hover{
    background-color: var(--hover-color);
}

.guzik{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.przycisk{
    width: 50%;
    float: left;
}

.przycisk select{
    height: 30px;
    width: 100px;
    color: black;
    background: lightgray;
    border-radius: 15px;
}

#x{
    display: block;
}

#y{
    display: none;
}
  
@media screen and (max-width: 900px) {
    .carousel img{
        width: calc(100% / 2);
    }
    .next-game{
        display: none;
    }
}
  
@media screen and (max-width: 550px) {
    .carousel img{
        width: 100%;
    }
}
  
@media screen and (min-width: 900px){
    .mobile-slider{
        display: none;
    }
    .next-game{
        display: block;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .h2-slider{
        text-align: left;
        margin-left: 6rem;
    }
    .next-game img{
        height: 15rem;
        width: 20rem;
        margin: 1rem;
    }
}


@media screen and (max-width: 790px){
    .desktop{
        display: none;
    }
    .ptable table{
        min-width:fit-content;
        margin: 2rem;
    }
}

@media screen and (min-width: 790px){
    nav ul{
        display: none;
    }

    .burger{
        display: none;
    }

    .desktop ul {
        position: absolute;
        height: 8vh;
        width: 100%;
        list-style: none;    
        background-color: #333;
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 900;
    }
    
    .desktop a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 2.6rem;
    }
    
    .desktop a:hover {
        font-weight: 600;
        color: #116820;
    }

    .desktop img{
        margin-left: 4.5rem;
        margin-right: 4.5rem;
    }
}





@keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
}
@keyframes SpinLoader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes LogoModify {
    0% {
        transform: rotate(360deg);
    }   
    100% {
        transform: rotate(0deg);
    }
}
